<!doctype html>
{% load friendshiptags %}
{% load unicorn %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
          {% unicorn_scripts %}
      <!-- navbar závislosti -->
          {% load static %}<link rel="stylesheet" href="{% static 'navbar/style.css' %}" >
      <!-- navbar závislosti koniec-->
    <title>Priatelia</title>
  </head>
  <body>
{% include "navbar.html" with navbar_administracia=navbar_administracia %}

    <div class="container-xxl">
        <div class="row lg-3">
            <div class="col-lg-9">
                      {% if user.is_authenticated %}
                <h2><a href="/#">Mapa chránených území</a></h2>
<form action="">
    <input type="text" name="search" placeholder="Zadajte meno užívateľa" value="{{request.GET.username}}">
    <input type="submit" value="Hľadať nového užívateľa">
</form>
                  {% for i in user_search %}
                {% if i.1 %}
                <br>
                <form action="" method="get">
                 {{ i.0 }}&ensp;
                  <button name="cancel_friendship_request" type="submit" value="{{ i.0 }}">Zrušiť žiadosť o priateľstvo</button>
                </form>
                {% else %}
                <br>
                                <form action="" method="get">
                                    {{ i.0 }}&ensp;
                  <button name="friendship_request" type="submit" value="{{ i.0 }}">Odoslať žiaosť o priateľstvo</button>
                </form>
                {% endif %}
                      {% endfor %}
                <br>

                {% if all_unread_friend_requests|length > 0 %}
           <h3>Žiadosti o priateľstvo:</h3>
            {% for i in all_unread_friend_requests %}
                <form action="" method="get">
                    {{i.from_user}}&ensp;
                  <button name="friendship_accept" type="submit" value="{{ i.from_user }}">Prijať</button>
                    <button name="friendship_reject" type="submit" value="{{ i.from_user }}">Zamietnuť</button>
                </form>
                <br>
                {% endfor %}
                {% endif %}


            {% if all_friends|length > 0 %}
            <h3>Moji priatelia:</h3>

            {% for i in all_friends %}
                {{i}}&ensp;
                                <br>
                {% endfor %}
                {% endif %}




{% else %}


    <h1> Nie ste prihlásený</h1>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>