<div>
    {% for prispevok,profil_autora,karma,upvoted,downvoted in prispevky %}
                    <div class="card mb-2">
                    <div class="card-body">
                        <div class="media forum-item">

                            <a href="profil?u={{ profil_autora.user.username }}" class="card-link">
                                <img src="data:image/png;base64,{{ profil_autora.icon }}" class="rounded-circle" width="50" height="50" alt="User" />
                            </a>
                            <div class="media-body ml-3">
                                <a href="profil?u={{ profil_autora.user.username }}" class="text-secondary">{{ prispevok.user.username }}</a>
                                <small class="text-muted ml-2">{{ prispevok.timestamp|date:"j. F o G:i" }}</small>
                                <div class="mt-3 font-size-sm">
                                    {{ prispevok.sprava|safe }}
                                </div>
                            </div>
                            <div class="text-muted small text-center">

                                <div style="position: relative;top: -1em;" id="{{ prispevok.pk }}" class="upvotejs">
                                                <a class="upvote {% if upvoted %}upvote-on{% endif %}"></a>
                                                <span class="count">{{ karma }}</span>
                                                <a class="downvote {% if downvoted %}downvote-on{% endif %}"></a>
                                            </div>

                            </div>
                        </div>
                    </div>
                </div>

        {% if user.is_authenticated %}
        <script>Upvote.create('{{prispevok.pk}}', {callback: function(data){vote_posli(data);} });</script>
        {% endif %}
    {% endfor %}
</div>
