<div>
    {% for prispevok,profil_autora in prispevky %}
                    <div class="card mb-2">
                    <div class="card-body">
                        <div class="media forum-item">
                            <a href="profil?u={{ profil_autora.user.username }}" class="card-link">
                                <img src="data:image/png;base64,{{ profil_autora.icon }}" class="rounded-circle" width="50" alt="User" />
                            </a>
                            <div class="media-body ml-3">
                                <a href="profil?u={{ profil_autora.user.username }}" class="text-secondary">{{ prispevok.user.username }}</a>
                                <small class="text-muted ml-2">1 hour ago</small>
                                <div class="mt-3 font-size-sm">
                                    {{ prispevok.sprava|safe }}
                                </div>
                            </div>
                            <div class="text-muted small text-center">
                                <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> 0</span>
                                <span><i class="far fa-comment ml-2"></i> 0</span>
                            </div>
                        </div>
                    </div>
                </div>
    {% endfor %}
</div>
