<div>

    <div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">

         {% if priatelia_obsah %}

            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-friends tab -->
                  <div class="tab-pane fade in active show" id="profile-friends">
                     <h4 class="m-t-0 m-b-20">Priatelia ({{ zoznam_priatelov_pocet }})</h4>
                     <!-- begin row -->
                     <div class="row row-space-2">

                         <script>
                             async function zmen_zapis_uzivatela(id_objektu,id_uzivatela,id_html_elementu){
                        let user = {
                                id_objektu: id_objektu,
                                uzivatel: id_uzivatela,
                              toggle_zapis_zdielania: null
                            };

                            let response = await fetch('/api', {
                              method: 'POST',
                              headers: {
                                'Content-Type': 'application/json;charset=utf-8'
                              },
                              body: JSON.stringify(user)
                            });
                            response.text().then(function (text) {
                                let input = document.getElementById(id_html_elementu);
                                if (input.checked){
                                    alert("Oprávnenie na zápis úspešne udelené")
                                }
                                else {
                                    alert("Oprávnenie na zápis úspešne odobraté")
                                }
                            });

                            }
                      async function zrusit_zdielanie(id_objektu,meno_uzivatela,id_html_elementu){
                        let user = {
                                id_objektu: id_objektu,
                                uzivatel_meno: meno_uzivatela,
                              zrusit_zdielanie: null
                            };

                            let response = await fetch('/api', {
                              method: 'POST',
                              headers: {
                                'Content-Type': 'application/json;charset=utf-8'
                              },
                              body: JSON.stringify(user)
                            });
                            response.text().then(function (text) {
                                let button = document.getElementById(id_html_elementu);
                                button.outerHTML = '<i class="fas fa-check"></i>';
                                alert('Zdieľanie úspešne zrušené');


                            });

                            }
                         </script>
                         {% for priatel,profil_priatela in zoznam_priatelov %}

                          <!-- modal permissions begin-->
                         <div id="modal_opravnenia_{{ priatel.username }}"class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Všetky zdieľané vrstvy s užívateľom {{ priatel.username }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                        {% for zdielane_vrstvy_kluc, zdielane_vrstvy_hodnota in zdielane_vrstvy.items %}
                                            {% if zdielane_vrstvy_kluc == priatel.username %}
                                    {% for vrstva,zapis in zdielane_vrstvy_hodnota %}
                                        {% if forloop.first %}
                                            <table class="table table-bordered table-sm">
                                  <thead>
                                    <tr>
                                      <th class="text-center" scope="col">Vrstva</th>
                                      <th class="text-center" scope="col">Úprava</th>
                                      <th class="text-center" scope="col">Zrušiť zdieľanie</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                        {% endif %}


                                        <tr>
                                  <td class="text-center">{{ vrstva.meno }}</td>
                                      <td class="text-center"><input onclick="zmen_zapis_uzivatela('{{ vrstva.pk }}','{{ priatel.pk }}','zapis_{{ priatel.username }}_{{ vrstva.id }}')" type="checkbox" id="zapis_{{ priatel.username }}_{{ vrstva.id }}" {% if zapis == True %}checked{% endif %} /></td>
                                      <td class="text-center"><button onclick="zrusit_zdielanie('{{ vrstva.pk }}','{{ priatel.username }}','zrusit_{{ priatel.username }}_{{ vrstva.id }}')" id="zrusit_{{ priatel.username }}_{{ vrstva.id }}" type="button" class="btn btn-danger btn-sm">X</button></td>

                                        </tr>
                                        {% if forloop.last %}
                                            </tbody>
                                            </table>
                                        {% endif %}
                                        {% empty %}
                                            S {{ priatel.username }} nie je zdieľaná žiadna vrstva.
                                    {% endfor %}
                                            {% endif %}
                                            {% endfor %}

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvoriť</button>
                              </div>
                            </div>
                          </div>
                        </div>
                         <!-- modal permissions end -->
                        <!-- begin col-6 -->
                        <div class="col-md-6 m-b-2">
                           <div class="p-10 bg-white">
                              <div class="media media-xs overflow-visible">
                                 <a class="media-left" href="profil?u={{ profil_priatela.user.username }}">
                                 <img src="data:image/png;base64,{{ profil_priatela.icon }}" alt="" class="media-object img-circle">
                                 </a>
                                 <div class="media-body valign-middle">
                                    <b class="text-inverse">{{ priatel.username }}</b>
                                 </div>
                                 <div class="media-body valign-middle text-right overflow-visible">
                                    <div class="btn-group dropdown">
                                       <a href="javascript:;" class="btn btn-default"></a>
                                       <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"></a>
                                       <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(101px, 34px, 0px);">
                                            <li><a href="javascript:;" onclick="$('#modal_opravnenia_{{ priatel.username }}').modal('show');">Zdielané vrstvy</a></li>
                                           <li><a href="javascript:;" unicorn:click="zablokuj_osobu({{ priatel.pk }})">Zablokovať</a></li>
                                           <li><a href="javascript:;" unicorn:click="priatelia_zrusit_priatelstvo({{ priatel.pk }})">Zrušiť priateľstvo</a></li>
                                        <!-- <li><a href="javascript:;">Zablokovať</a></li>  -->
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end col-6 -->
                         {% endfor %}



                     </div>
                     <!-- end row -->
                  </div>
                  <!-- end #profile-friends tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->

            {% endif %}


                  {% if ziadosti_obsah %}

            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-friends tab -->
                  <div class="tab-pane fade in active show" id="profile-friends">
                     <h4 class="m-t-0 m-b-20">Žiadosti o priateľstvo ({{ zoznam_ziadosti_pocet }})</h4>
                     <!-- begin row -->
                     <div class="row row-space-2">


                         {% for ziadost,profil in zoznam_ziadosti %}
                        <!-- begin col-6 -->
                        <div class="col-md-6 m-b-2">
                           <div class="p-10 bg-white">
                              <div class="media media-xs overflow-visible">
                                 <a class="media-left" href="profil?u={{ profil.user.username }}">
                                 <img src="data:image/png;base64,{{ profil.icon }}" alt="" class="media-object img-circle">
                                 </a>
                                 <div class="media-body valign-middle">
                                    <b class="text-inverse">{{ ziadost.from_user.username }}</b>
                                 </div>
                                 <div class="media-body valign-middle text-right overflow-visible">
                                    <button unicorn:click="primi_ziadost({{ ziadost.id }})" type="button" class="btn btn-success btn-sm">Prijať</button>
                                     <button unicorn:click="odmietni_ziadost({{ ziadost.id }})" type="button" class="btn btn-danger btn-sm" >Odmietnuť</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end col-6 -->
                         {% endfor %}



                     </div>
                     <!-- end row -->
                  </div>
                  <!-- end #profile-friends tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->

                      <br>
                      <br>
                      <br>
                        <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-friends tab -->
                  <div class="tab-pane fade in active show" id="profile-friends">
                     <h4 class="m-t-0 m-b-20">Odoslané žiadosti o priateľstvo ({{ zoznam_odoslanych_ziadosti_pocet }})</h4>
                     <!-- begin row -->
                     <div class="row row-space-2">


                         {% for odoslana_ziadost,profil in zoznam_odoslanych_ziadosti %}
                        <!-- begin col-6 -->
                        <div class="col-md-6 m-b-2">
                           <div class="p-10 bg-white">
                              <div class="media media-xs overflow-visible">
                                 <a class="media-left" href="profil?u={{ profil.user.username }}">
                                 <img src="data:image/png;base64,{{ profil.icon }}" alt="" class="media-object img-circle">
                                 </a>
                                 <div class="media-body valign-middle">
                                    <b class="text-inverse">{{ odoslana_ziadost.to_user.username }}</b>
                                 </div>
                                 <div class="media-body valign-middle text-right overflow-visible">
                                     <button unicorn:click="odmietni_ziadost({{ odoslana_ziadost.id }})" type="button" class="btn btn-danger btn-sm" >Zrušiť žiadosť</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end col-6 -->
                         {% endfor %}



                     </div>
                     <!-- end row -->
                  </div>
                  <!-- end #profile-friends tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->

            {% endif %}


         {% if najst_priatelov_obsah %}
                         <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-friends tab -->
                  <div class="tab-pane fade in active show" id="profile-friends">
         <div class="input-group">
          <input unicorn:model="vyhladavacie_pole" type="text" class="form-control rounded" aria-label="Search" aria-describedby="search-addon" />
          <button onclick="Unicorn.call('friends-list', 'hladat_priatelov');" type="button" class="btn btn-outline-primary" >Hľadať</button>
        </div>


                      {% for uzivatel,uz_odoslane,profil in hladane_osoby %}
                          <br>
                          <div class="media media-xs overflow-visible">
                                 <a class="media-left" href="profil?u={{ profil.user.username }}">
                                 <img src="data:image/png;base64,{{ profil.icon }}" alt="" class="media-object img-circle">
                                 </a>
                                 <div class="media-body valign-middle">
                                    <b class="text-inverse">{{ uzivatel.username }}</b>
                                 </div>
                                 <div class="media-body valign-middle text-right overflow-visible">
                                     {% if uz_odoslane == 0 %}
                                     <button unicorn:click="poziadat_o_priatelstvo({{ uzivatel.pk }})" type="button" class="btn btn-info btn-sm">Odoslať žiadosť o priateľstvo</button>
                                     {% elif uz_odoslane == 1 %}
                                     <button type="button" class="btn btn-info btn-sm" disabled>Žiadosť o priateľstvo bola odoslaná</button> <!-- Zrušiť žiadosť  o priateľstvo ? -->
                                     {% elif uz_odoslane == 2 %}
                                     <button type="button" class="btn btn-success btn-sm" disabled>Priateľ</button>
                                     {% elif uz_odoslane == 3 %}
                                     <button type="button" class="btn btn-danger btn-sm" disabled>Zablokovaný</button>

                                     {% endif %}

                                 </div>
                              </div>
                      {% endfor %}


                  </div>
               </div>
                         </div>

         {% endif %}



                  {% if blokacie_obsah %}

                                        <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-friends tab -->
                  <div class="tab-pane fade in active show" id="profile-friends">
                     <h4 class="m-t-0 m-b-20">Blokovaný užívatelia ({{ blokovane_osoby_pocet }})</h4>
                     <!-- begin row -->
                     <div class="row row-space-2">


                         {% for blokacia,profil in blokovane_osoby %}
                        <!-- begin col-6 -->
                        <div class="col-md-6 m-b-2">
                           <div class="p-10 bg-white">
                              <div class="media media-xs overflow-visible">
                                 <a class="media-left" href="profil?u={{ profil.user.username }}">
                                 <img src="data:image/png;base64,{{ profil.icon }}" alt="" class="media-object img-circle">
                                 </a>
                                 <div class="media-body valign-middle">
                                    <b class="text-inverse">{{ blokacia.username }}</b>
                                 </div>
                                 <div class="media-body valign-middle text-right overflow-visible">
                                     <button unicorn:click="odblokuj_uzivatela({{ blokacia.pk }})" type="button" class="btn btn-danger btn-sm" >Odblokovať</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end col-6 -->
                         {% endfor %}



                     </div>
                     <!-- end row -->
                  </div>
                  <!-- end #profile-friends tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->


                      <br>
                      <br>
                      <br>
                         <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-friends tab -->
                  <div class="tab-pane fade in active show" id="profile-friends">
                      <h4> Zablokovať užívateľa</h4>
         <div class="input-group">
          <input unicorn:model="vyhladavacie_pole" type="text" class="form-control rounded" aria-label="Search" aria-describedby="search-addon" />
          <button onclick="Unicorn.call('friends-list', 'hladat_priatelov');" type="button" class="btn btn-outline-primary" >Hľadať</button>
        </div>


                      {% for uzivatel,uz_odoslane,profil in hladane_osoby %}
                          <br>
                          <div class="media media-xs overflow-visible">
                                 <a class="media-left" href="profil?u={{ profil.user.username }}">
                                 <img src="data:image/png;base64,{{ profil.icon }}" alt="" class="media-object img-circle">
                                 </a>
                                 <div class="media-body valign-middle">
                                    <b class="text-inverse">{{ uzivatel.username }}</b>
                                 </div>
                                 <div class="media-body valign-middle text-right overflow-visible">
                                     {% if uz_odoslane == 3 %}
                                     <button type="button" class="btn btn-danger btn-sm" disabled>Zablokovaný</button>
                                     {% else %}
                                         <button unicorn:click="zablokuj_osobu({{ uzivatel.pk }})" type="button" class="btn btn-danger btn-sm">Zablokovať</button>
                                     {% endif %}


                                 </div>
                              </div>
                      {% endfor %}


                  </div>
               </div>
                         </div>

         {% endif %}



         </div>
      </div>
   </div>
</div>


</div>
