<div>

    <div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">

         {% if priatelia_obsah %}

            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-friends tab -->
                  <div class="tab-pane fade in active show" id="profile-friends">
                     <h4 class="m-t-0 m-b-20">Priatelia ({{ zoznam_priatelov_pocet }})</h4>
                     <!-- begin row -->
                     <div class="row row-space-2">


                         {% for priatel in zoznam_priatelov %}

                          <!-- modal permissions begin-->
                         <div id="modal_opravnenia_{{ priatel.username }}"class="modal fade" tabindex="-1" role="dialog">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>Modal body text goes here.</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                         <!-- modal permissions end -->
                        <!-- begin col-6 -->
                        <div class="col-md-6 m-b-2">
                           <div class="p-10 bg-white">
                              <div class="media media-xs overflow-visible">
                                 <a class="media-left" href="javascript:;">
                                 <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                 </a>
                                 <div class="media-body valign-middle">
                                    <b class="text-inverse">{{ priatel.username }}</b>
                                 </div>
                                 <div class="media-body valign-middle text-right overflow-visible">
                                    <div class="btn-group dropdown">
                                       <a href="javascript:;" class="btn btn-default"></a>
                                       <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"></a>
                                       <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(101px, 34px, 0px);">
                                            <li><a href="javascript:;" onclick="$('#modal_opravnenia_{{ priatel.username }}').modal('show');">Zmeniť oprávnenia</a></li>
                                           <li><a href="javascript:;" unicorn:click="priatelia_zrusit_priatelstvo({{ priatel.pk }})">Zrušiť priateľstvo</a></li>
                                        <!-- <li><a href="javascript:;">Zablokovať</a></li>  -->
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end col-6 -->
                         {% endfor %}



                     </div>
                     <!-- end row -->
                  </div>
                  <!-- end #profile-friends tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->

            {% endif %}


                  {% if ziadosti_obsah %}

            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-friends tab -->
                  <div class="tab-pane fade in active show" id="profile-friends">
                     <h4 class="m-t-0 m-b-20">Žiadosti o priateľstvo ({{ zoznam_ziadosti_pocet }})</h4>
                     <!-- begin row -->
                     <div class="row row-space-2">


                         {% for ziadost in zoznam_ziadosti %}
                        <!-- begin col-6 -->
                        <div class="col-md-6 m-b-2">
                           <div class="p-10 bg-white">
                              <div class="media media-xs overflow-visible">
                                 <a class="media-left" href="javascript:;">
                                 <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                 </a>
                                 <div class="media-body valign-middle">
                                    <b class="text-inverse">{{ ziadost.from_user.username }}</b>
                                 </div>
                                 <div class="media-body valign-middle text-right overflow-visible">
                                    <button unicorn:click="primi_ziadost({{ ziadost.id }})" type="button" class="btn btn-success btn-sm">Prijať</button>
                                     <button unicorn:click="odmietni_ziadost({{ ziadost.id }})" type="button" class="btn btn-danger btn-sm" >Odmietnuť</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end col-6 -->
                         {% endfor %}



                     </div>
                     <!-- end row -->
                  </div>
                  <!-- end #profile-friends tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->

            {% endif %}


         {% if najst_priatelov_obsah %}
                         <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-friends tab -->
                  <div class="tab-pane fade in active show" id="profile-friends">
         <div class="input-group">
          <input unicorn:model="vyhladavacie_pole" type="text" class="form-control rounded" aria-label="Search" aria-describedby="search-addon" />
          <button onclick="Unicorn.call('friends-list', 'hladat_priatelov');" type="button" class="btn btn-outline-primary" >Hľadať</button>
        </div>


                      {% for uzivatel,uz_odoslane in hladane_osoby %}
                          <br>
                          <div class="media media-xs overflow-visible">
                                 <a class="media-left" href="javascript:;">
                                 <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                 </a>
                                 <div class="media-body valign-middle">
                                    <b class="text-inverse">{{ uzivatel.username }}</b>
                                 </div>
                                 <div class="media-body valign-middle text-right overflow-visible">
                                     {% if uz_odoslane == 0 %}
                                     <button unicorn:click="poziadat_o_priatelstvo({{ uzivatel.pk }})" type="button" class="btn btn-info btn-sm">Odoslať žiadosť o priateľstvo</button>
                                     {% elif uz_odoslane == 1 %}
                                     <button type="button" class="btn btn-info btn-sm" disabled>Žiadosť o priateľstvo bola odoslaná</button> <!-- Zrušiť žiadosť  o priateľstvo ? -->
                                     {% elif uz_odoslane == 2 %}
                                     <button type="button" class="btn btn-success btn-sm" disabled>Priateľ</button>
                                     {% elif uz_odoslane == 3 %}
                                     <button type="button" class="btn btn-danger btn-sm" disabled>Zablokovaný</button>

                                     {% endif %}

                                 </div>
                              </div>
                      {% endfor %}


                  </div>
               </div>
                         </div>

         {% endif %}



         </div>
      </div>
   </div>
</div>


</div>
