<div unicorn:poll="update">


                {% for notification in notifications_unread reversed %}
            	<li>
            		<div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img" style="margin-top: 3px;float: left;display: inline-block;width: 45px;height: 45px;margin: 8px 0px 8px 0px;"><img src="http://placehold.it/45x45" alt=""></div></div>
            		<div class="col-md-9 col-sm-9 col-xs-9" style="margin-left: 60px">
                        <a href="">{{ notification.odosielatel }}</a>
                        <p style="margin-bottom: auto;">{{ notification.sprava }}</p>
                        <a u:click="videne({{ notification.id }})" onclick="Unicorn.call('navbar_bell_icon_count', 'dekrement');" class="rIcon" style="float: right;color: #999;"><i class="fas fa-eye"></i></a>

            		<p class="time" style="font-size: 10px;font-weight: 600;top: -6px;margin: 8px 0px 0px 0px;padding: 0px 3px;border: 1px solid #e2e2e2;position: relative;background-image: linear-gradient(#fff,#f2f2f2);display: inline-block;border-radius: 2px;color: #B97745;">
                        {{ notification.timestamp }}</p>
            		</div>

            	</li>
                <hr style="margin-top: 0">


                {% endfor %}


</div>
