<div>
                {% for prispevok,profil,karma,upvoted,downvoted,moderator in prispevky %}
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" height="45" src="data:image/png;base64,{{ profil.icon }}" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0"><a href="profil?u={{ prispevok.user.username }}">{{ prispevok.user.username }}</a></div>
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <div class="text-muted h7 mb-2">
                                        <i class="fa fa-clock-o"></i>{{ prispevok.timestamp|date:"j. F o G:i" }}
                                        {% if moderator %}
                                            <button onclick="
               Unicorn.call('skupina-diskusia-prispevky', 'zmaz_prispevok', '{{ prispevok.id }}');alert('Príspevok úspešne zmazaný');location.reload()">
                                        <i class="fa-solid fa-trash"></i>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">

                        <p class="card-text">
                                {{ prispevok.sprava|safe }}
                        </p>

                                                    <div style="position: relative;margin-top: -2em" class="float-right text-center">

                                <div style="position: relative;top: -1em;" id="{{ prispevok.pk }}" class="upvotejs">
                                                <a class="upvote {% if upvoted %}upvote-on{% endif %}"></a>
                                                <span class="count">{{ karma }}</span>
                                                <a class="downvote {% if downvoted %}downvote-on{% endif %}"></a>
                                            </div>

                            </div>

                    </div>
                    <div class="card-footer">
                        <a data-toggle="collapse" href="#collapse{{ prispevok.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ prispevok.id }}" class="card-link"><i class="fa fa-comment"></i> Komentáre</a>
                    </div>
                    <div class="collapse" id="collapse{{ prispevok.id }}">
                  <div class="card card-footer">




                <div class="coment-bottom p-2 px-4">
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="data:image/png;base64,{{ ikonka_uzivatel_request }}" height="38" width="38">
                        <input type="text" id="novy-komentar-input{{ prispevok.id }}" class="form-control mr-3" placeholder="Pridajte Váš komentár">
                        <button class="btn btn-primary" type="button" onclick="
            let dejta_nova_skupina = {
          novy_komentar: document.getElementById('novy-komentar-input{{ prispevok.id }}').value,
          skupina_prispevok_id: '{{ prispevok.id }}',
        };
        $.ajax({
          type: 'POST',
          url: '/api',
          data: JSON.stringify(dejta_nova_skupina),
            statusCode: {
                303: function() {
                  alert('Chyba: Komentár nemôže byť prádzny');
                },
                201: function() {
                    alert('Komentár úspešne pridaný.');
                    location.reload();
                }
              },
          dataType: 'json',
          contentType : 'application/json'
        });">Komentovať</button>
                    </div>
                    {% for komentar,profil_koment in komentare %}
                        {% if komentar.prispevok.id == prispevok.id %}
                    <div class="commented-section mt-2">
                        <div class="d-flex flex-row align-items-center commented-user">
                            <img class="img-fluid img-responsive rounded-circle mr-2" src="data:image/png;base64,{{ profil_koment.icon }}" height="30" width="30">
                            <h6 class="mr-2"><a href="profil?u={{ komentar.user.username }}">{{ komentar.user.username }}</a></h6>
                            <span class="dot mb-1"></span>
                            <span class="mb-1 ml-2">{{ komentar.timestamp|date:"j. F o G:i" }}</span>
                            {% if user.username == komentar.user.username %}
                                <i class="fa-solid fa-trash" onclick="
               Unicorn.call('skupina-diskusia-prispevky', 'zmaz_komentar', '{{ komentar.id }}');alert('Komentár úspešne zmazaný');location.reload()">
                                        </i>

                            {% endif %}
                        </div>
                        <div class="comment-text-sm">
                            <span>{{ komentar.sprava }}</span>
                        </div>
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
                    </div>
                </div>

                </div>
                    {% if user.is_authenticated %}
                        <script>
                  Upvote.create('{{prispevok.pk}}', {callback: function(data){
                      Unicorn.call('skupina-diskusia-prispevky', 'hlasuj_karma_prispevok', JSON.stringify(data));
                      } });
                        </script>
                    {% endif %}
                    <br>
                {% endfor %}
</div>
