{% load unicorn %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS / JS-->
               <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote.min.js"></script>
      {% load static %}<script src="{% static 'index/progressbar.js' %}"></script>
      {% unicorn_scripts %}
      <!-- navbar závislosti -->
          {% load static %}<link rel="stylesheet" href="{% static 'navbar/style.css' %}" >
      <!-- navbar závislosti koniec-->

    <title>Mapa chránených oblastí SR</title>
  </head>
  <body onload="daj_mapu_celu()">
    {% include "navbar.html" with navbar_administracia=navbar_administracia %}
    {% csrf_token %}
  <style>
    #bodyWrapper {
        max-width: 100vw;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #bodyWrapper > nav {
        flex: 0 0 56px;
        overflow: hidden;
    }
    #mapWrapper {
        flex: 1 0 auto;
        overflow: hidden;
    }
    #map { height: calc(100vh - 56px); }

</style>
    <main id="bodyWrapper">


                  <div id="mapWrapper">

            <div id="map">

{% load static %}<img style="position: relative;" src="{% static 'index/mapa_cista_blur_lunapic.png' %}" width="100%" height="100%" >

                <div id="loading-bar-div" style="position: absolute; top: 50%; text-align: center; width: 100%;"></div>

</div>
          </div>



  <div class="modal draggable" id="object_htmlModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">...</div>
            <div class="modal-body"><div id="summernote"></div></div>
            <div class="modal-footer">

            <button type="button" onclick="summer_note_ulozit()">Uložiť</button>
            <button type="button" onclick="summer_note_destroyer();">Zrušiť</button>

            </div>
        </div>
    </div>
</div>
</main>
  <script> //Tu sú všetky funkcie ohľadom editácie mapy
  $('.modal.draggable>.modal-dialog').draggable({
    cursor: 'move',
    handle: '.modal-header'
});
$('.modal.draggable>.modal-dialog>.modal-content>.modal-header').css('cursor', 'move');
function map_preview_update(html){
        let wrapper = document.getElementById('map');
        wrapper.innerHTML= html;
}

async function daj_mapu_celu(){
    let bar = new ProgressBar.Line('#loading-bar-div', {
  strokeWidth: 3,
  easing: 'easeInOut',
  duration: 10400,
  color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  svgStyle: {width: '45%', height: '1.5em'},
  text: {
        style: {
            // Text color.
            // Default: same as stroke color (options.color)
            color: '#f00',
            position: 'absolute',
            left: '50%',
            top: '50%',
            padding: 0,
            margin: 0,
            // You can specify styles which will be browser prefixed
            transform: {
                prefix: true,
                value: 'translate(-50%, -50%)'
            }
        },
    autoStyleContainer: false
  },
  from: {color: '#FFEA82'},
  to: {color: '#ED6A5A'},
  step: (state, bar) => {
    bar.setText(Math.round(bar.value() * 100) + ' %');
  }
});

bar.animate(1.0);  // Number from 0.0 to 1.0
    //map_preview_update('Načítavanie mapy....');
    let user = {
          //daj_mapu_celu: null
        };

    let response = await fetch('/mapa', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;charset=utf-8',"X-CSRFToken": '{{csrf_token}}'
      },
      body: JSON.stringify(user),
      credentials: 'same-origin',
    });
    response.text().then(function (text) {
      map_preview_update(text);
    });

}
var posledne_html_z_editora = "";

  function summer_note_destroyer(){
      $(document).ready(function() {
          $('#summernote').summernote('destroy');
          document.getElementById('summernote').innerHTML= '';
          $('#object_htmlModal').modal('hide');

      });

      return true;
  }

    function summer_note_ulozit(){
      $(document).ready(function() {
         posledne_html_z_editora =  $('#summernote').summernote('code');
         //console.log(posledne_html_z_editora);
          $('#summernote').summernote('destroy');
          document.getElementById('summernote').innerHTML= '';
          $('#object_htmlModal').modal('hide');

      });

      return true;
  }

function uprava_html(){
    $('#object_htmlModal').modal({
        keyboard: false,
        backdrop: false
    });
    $('#object_htmlModal').modal('show');
          $(document).ready(function() {
  $('#summernote').summernote({
  toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']]
  ]
});
  if(posledne_html_z_editora!="") {
      $('#summernote').summernote('code', posledne_html_z_editora);
  }

});

    return true;
}
</script>

  </body>
</html>