<!DOCTYPE html>
<html>
  <head>
    <title>Administrácia</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
      {% load static %}<link rel="stylesheet" href="{% static 'administration/admin.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Boostrap -->
   <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <!-- Boostrap -->
    <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- (A) SIDEBAR -->
    <div id="pgside">
      <!-- (A1) BRANDING OR USER -->
      <!-- LINK TO DASHBOARD OR LOGOUT -->
      <div id="pguser">
        {% load static %}<img src="{% static 'administration/potato.png' %}">
        <i class="txt">Administrácia</i>
      </div>

      <!-- (A2) MENU ITEMS -->
      <a href="#" class="current">
        <i class="ico">&#9733;</i>
        <i class="txt">Vrstvy</i>
      </a>
      <a href="/administracia/json">
        <i class="ico">&#9728;</i>
        <i class="txt">Nahrať / stiahnuť vrstvy</i>
      </a>
    </div>
    {% if user.is_superuser %}
        {% for skupina in sys_skupiny_list %}
    <!-- Viditelnost modal - skupina -->
<div id="viditelnost_skupina{{ skupina.id }}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ skupina.meno }}</h4>
      </div>
      <div class="modal-body">
          Globálne :
          <label for="viditelnost_skupinaR{{ skupina.id }}">R</label>
        <input type="checkbox" id="viditelnost_skupinaR{{ skupina.id }}" name="viditelnost_skupinaR{{ skupina.id }}" value="" {% if 'r' in skupina.viditelnost.globalne %}checked{% endif %}>
          <label for="viditelnost_skupinaW{{ skupina.id }}">W</label>
        <input type="checkbox" id="viditelnost_skupinaW{{ skupina.id }}" name="viditelnost_skupinaW{{ skupina.id }}" value="" {% if 'w' in skupina.viditelnost.globalne %}checked{% endif %}>
          <br>
                Prihlásený :
          <label for="viditelnost_skupinaR_prihlaseny{{ skupina.id }}">R</label>
        <input type="checkbox" id="viditelnost_skupinaR_prihlaseny{{ skupina.id }}" name="viditelnost_skupinaR_prihlaseny{{ skupina.id }}" value="" {% if 'r' in skupina.viditelnost.prihlaseny %}checked{% endif %}>
          <label for="viditelnost_skupinaW_prihlaseny{{ skupina.id }}">W</label>
        <input type="checkbox" id="viditelnost_skupinaW_prihlaseny{{ skupina.id }}" name="viditelnost_skupinaW_prihlaseny{{ skupina.id }}" value="" {% if 'w' in skupina.viditelnost.prihlaseny %}checked{% endif %}>

          <label for="viditelnost_skupinaIgnore_prihlaseny{{ skupina.id }}">Ignorovať</label>
        <input type="checkbox" id="viditelnost_skupinaIgnore_prihlaseny{{ skupina.id }}" name="viditelnost_skupinaIgnore_prihlaseny{{ skupina.id }}" value="" {% if skupina.viditelnost.prihlaseny == '' %}checked{% endif %}>
        <br>
        Užívatelia :
      <br>
      {% for uzivatel,permisie in skupina.viditelnost.uzivatelia.items %}
          {{ uzivatel }}:
          <label for="viditelnost_skupinaR{{ uzivatel }}{{ skupina.id }}">R</label>
        <input type="checkbox" id="viditelnost_skupinaR{{ uzivatel }}{{ skupina.id }}" name="viditelnost_skupinaR{{ uzivatel }}{{ skupina.id }}" value="" {% if 'r' in permisie %}checked{% endif %}>
          <label for="viditelnost_skupinaW{{ uzivatel }}{{ skupina.id }}">W</label>
        <input type="checkbox" id="viditelnost_skupinaW{{ uzivatel }}{{ skupina.id }}" name="viditelnost_skupinaW{{ uzivatel }}{{ skupina.id }}" value="" {% if 'w' in permisie %}checked{% endif %}>
          <br>
          {% endfor %}
      <div id="div_uzivatelia_novy_skupina_{{ skupina.id }}">
      </div>
      <button type="button" onclick="pridaj_riadok_viditelnost_uzivatelia('div_uzivatelia_novy_skupina_{{ skupina.id }}')" class="btn btn-info btn-sm">+</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>

  </div>
</div>
         <script>
         function pridaj_riadok_viditelnost_uzivatelia (id_divu) {

             var html = `<div class="row" style="margin: 3px;">
          <select class="js-example-basic-single" name="state" style="width: auto;">
                    {% for user_username in vsetci_uzivatelia %}
                  <option style="margin: 3px;" value="{{ user_username.username }}_{{ skupina_pocet_pridanych }}">{{ user_username.username }}</option>
                    {% endfor %}
            </select>

              <label style="margin: 3px;" for="viditelnost_skupinaR_{{ forloop.counter }}_{{ skupina.id }}">R</label>
        <input style="margin: 3px;" type="checkbox" id="viditelnost_skupinaR_{{ forloop.counter }}_{{ skupina.id }}" name="viditelnost_skupinaR_{{ forloop.counter }}_{{ skupina.id }}">
          <label style="margin: 3px;" for="viditelnost_skupinaW_{{ forloop.counter }}_{{ skupina.id }}">W</label>
        <input style="margin: 3px;" type="checkbox" id="viditelnost_skupinaW_{{ forloop.counter }}_{{ skupina.id }}" name="viditelnost_skupinaW_{{ forloop.counter }}_{{ skupina.id }}">

      <input style="margin: 3px;" type="button" value="-" onclick="odstran_riadok_viditelnost_uzivatelia(this)">
    </div>`;

  document.querySelector('#'+id_divu).insertAdjacentHTML(
    'afterbegin',
    html
  )
         $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
}
function odstran_riadok_viditelnost_uzivatelia (input) {
  input.parentNode.remove()
}
         </script>

            {% for key,podskupiny in sys_podskupiny_dict.items %}
                {% if key == skupina.id %}
                    {% for podskupina in podskupiny %}

    <!-- Viditelnost modal - podskupina -->
<div id="viditelnost_podskupina{{ podskupina.id }}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ podskupina.meno }}</h4>
      </div>
      <div class="modal-body">
          Globálne :
          <label for="viditelnost_podskupinaR{{ podskupina.id }}">R</label>
        <input type="checkbox" id="viditelnost_podskupinaR{{ podskupina.id }}" name="viditelnost_podskupinaR{{ podskupina.id }}" value="" {% if 'r' in podskupina.viditelnost.globalne %}checked{% endif %}>
          <label for="viditelnost_podskupinaW{{ podskupina.id }}">W</label>
        <input type="checkbox" id="viditelnost_podskupinaW{{ podskupina.id }}" name="viditelnost_podskupinaW{{ podskupina.id }}" value="" {% if 'w' in podskupina.viditelnost.globalne %}checked{% endif %}>
          <br>
                Prihlásený :
          <label for="viditelnost_podskupinaR_prihlaseny{{ podskupina.id }}">R</label>
        <input type="checkbox" id="viditelnost_podskupinaR_prihlaseny{{ podskupina.id }}" name="viditelnost_podskupinaR_prihlaseny{{ podskupina.id }}" value="" {% if 'r' in podskupina.viditelnost.prihlaseny %}checked{% endif %}>
          <label for="viditelnost_podskupinaW_prihlaseny{{ podskupina.id }}">W</label>
        <input type="checkbox" id="viditelnost_podskupinaW_prihlaseny{{ podskupina.id }}" name="viditelnost_podskupinaW_prihlaseny{{ podskupina.id }}" value="" {% if 'w' in podskupina.viditelnost.prihlaseny %}checked{% endif %}>

                <label for="viditelnost_podskupinaIgnore_prihlaseny{{ podskupina.id }}">Ignorovať</label>
        <input type="checkbox" id="viditelnost_podskupinaIgnore_prihlaseny{{ podskupina.id }}" name="viditelnost_podskupinaIgnore_prihlaseny{{ podskupina.id }}" value="" {% if podskupina.viditelnost.prihlaseny == '' %}checked{% endif %}>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>

  </div>
</div>

                    {% endfor %}
                {% endif %}
            {% endfor %}



        {% endfor %}
    {% endif %}
    <!-- (B) MAIN -->
    <main id="pgmain">
      <ul id="simpleList" class="list-group">
          {% for skupina in sys_skupiny_list %}
              <li id="{{ skupina.id }}" class="list-group-item">{{ skupina.meno }}
                  <button class = "btn btn-outline-info btn-sm" onclick="daj_mapu('{{ skupina.id }}',true)">Upraviť</button>
              {% if user.is_superuser %}
              <button class = "btn btn-outline-info btn-sm" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#viditelnost_skupina{{ skupina.id }}">Viditelnosť</button>
              {% endif %}
                 <dl id="simpleList{{ forloop.counter }}" class="list-group">
                     {% for key,podskupiny in sys_podskupiny_dict.items %}
                         {% if key == skupina.id %}
                             {% for podskupina in podskupiny %}
                                <dt id="{{ podskupina.id }}" class="list-group-item">{{ podskupina.meno }}
                                    <button class = "btn btn-outline-info btn-sm" onclick="daj_mapu('{{ podskupina.id }}',false)">Upraviť</button>
                                    <button class = "btn btn-outline-info btn-sm" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#viditelnost_podskupina{{ podskupina.id }}">Viditelnosť</button>
                                </dt>
                             {% endfor %}
                         {% endif %}
                     {% endfor %}
                </dl>
      <script>
         Sortable.create(simpleList{{ forloop.counter }}, { /* options */ });
      </script>
              </li>

          {% endfor %}
      </ul>

        <script>
            // Simple list
            Sortable.create(simpleList, { /* options */ });

            async function skupina_priorita_update(id,index) {
                  let user = {
                  id: id,
                  priorita: index,
                  skupina: null
                };

                let response = await fetch('/api', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                  },
                  body: JSON.stringify(user)
                });

           return true;
        }

            async function podskupina_priorita_update(id,index) {
                  let user = {
                  id: id,
                  priorita: index,
                  podskupina: null
                };

                let response = await fetch('/api', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                  },
                  body: JSON.stringify(user)
                });

           return true;
        }

            function admin_skupiny_poradie_funkcia() {

                    let navbar = document
                      .getElementById('simpleList')
                      .querySelectorAll('li');

                    navbar.forEach((item, index) => {
                        skupina_priorita_update(item.id,index)
                    });

                return null;
            }

            function admin_podskupiny_poradie_funkcia() {
                let navbar = null;
                {% for skupina in sys_skupiny_list %}
                    navbar = document
                      .getElementById('simpleList{{ forloop.counter }}')
                      .querySelectorAll('dt');

                    navbar.forEach((item, index) => {
                        podskupina_priorita_update(item.id,index)
                    });
                {% endfor %}
                return null;
            }
            function admin_skupiny_podskupiny_poradie_funkcia_tlacidlo(){
               admin_skupiny_poradie_funkcia();
               admin_podskupiny_poradie_funkcia();
               alert("Poradie úspešne zmenené");
            }
        function map_preview_update(html){
                let wrapper = document.getElementById('mapa-preview');
                wrapper.innerHTML= html;
        }
        async function daj_mapu(id,skupina){
                map_preview_update('Načítavanie');
            let user = {
                  id: id,
                  skupina: skupina,
                  daj_mapu: null
                };

                let response = await fetch('/api', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                  },
                  body: JSON.stringify(user)
                });
                response.text().then(function (text) {
                  map_preview_update(text);
                  document.getElementById('mapa-preview').scrollIntoView({
                          behavior: "smooth",
                        });
                });

        }

        </script>
    <button class = "btn btn-primary btn-sm" onclick="admin_skupiny_podskupiny_poradie_funkcia_tlacidlo()">Aktualizovať poradie</button>
    <button class = "btn btn-primary btn-sm" data-toggle="modal" data-target="#pridat_skupinuModal">Pridať skupinu</button>
    {% if sys_skupiny_list|length > 0 %}
    <button class = "btn btn-primary btn-sm" data-toggle="modal" data-target="#pridat_podskupinuModal">Pridať podskupinu</button>
    {% endif %}
    <br>


                      <div id="mapa-preview"></div>



    </main>
<!-- Pridať skupinu -->
<div class="modal fade" id="pridat_skupinuModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="pridat_skupinuModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pridat_skupinuModalLabel">Pridať skupinu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="pridaj_skupinuform" method="post" action="api">
          <label for="nazov_skupiny">Názov skupiny:</label>
          <input type="text" id="nazov_skupiny" name="nazov_skupiny" required /><br>
          <label for="viditelnost">Viditeľnosť:</label>
            <select id="viditelnost" name="viditelnost" class="form-control js-viditelnost-tags" multiple="multiple">
              <option value="*" >Všetci</option>
              <option value="-">Iba prihlásený</option>
              <option value="empty"> </option>
            </select>
        </form>
          <script>$('.js-viditelnost-tags').select2({
                  tags: true,
                  width: '100%'
                });
          </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="
        let inputs_nova_skupina = document.getElementById('pridaj_skupinuform').elements;
            let dejta_nova_skupina = {
          viditelnost: $('.js-viditelnost-tags').val(),
          nazov_skupiny: inputs_nova_skupina['nazov_skupiny'].value,
          nova_skupina: null
        };
        $.ajax({
          type: 'POST',
          url: '/api',
          data: JSON.stringify(dejta_nova_skupina),
            statusCode: {
                304: function() {
                  alert('Chyba: Skupina s týmto názvom už existuje');
                },
                303: function() {
                  alert('Chyba: Názov skupiny nemôže byť prázdny');
                },
                201: function() {
                {% if get_data.keys|length > 0 %}
                    window.location = window.location.pathname+ '?openmodal_groupadd_sucess=1';
                {% else %}
                 window.location = window.location.href + '?openmodal_groupadd_sucess=1';
                 {% endif %}
                }
              },
          dataType: 'json',
          contentType : 'application/json'
        });">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Pridať skupinu koniec-->
    <!-- Pridať podskupinu -->
<div class="modal fade" id="pridat_podskupinuModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="pridat_podskupinuModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pridat_podskupinuModalLabel">Pridať podskupinu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="pridaj_podskupinuform" method="post" action="api">
            <label for="skupina-pre-podskupinu">Vyber skupinu:</label>
            <select id="skupina-pre-podskupinu" name="skupina-pre-podskupinu">
                {% for skupina in sys_skupiny_list %}
              <option value="{{ skupina.id }}" >{{ skupina.meno }}</option>
                {% endfor %}
            </select><br>
          <label for="nazov_podskupiny">Názov podskupiny:</label>
          <input type="text" id="nazov_podskupiny" name="nazov_podskupiny" required /><br>
          <label for="viditelnost_podskupina">Viditeľnosť:</label>
            <select id="viditelnost_podskupina" name="viditelnost_podskupina" class="form-control js-viditelnost-podskupiny-tags" multiple="multiple">
              <option value="*" >Všetci</option>
              <option value="-">Iba prihlásený</option>
              <option value="empty"> </option>
            </select>
        </form>
          <script>$('.js-viditelnost-podskupiny-tags').select2({
                  tags: true,
                  width: '100%'
                });
          </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="
        let inputs_nova_skupina = document.getElementById('pridaj_podskupinuform').elements;
            let dejta_nova_skupina = {
          viditelnost: $('.js-viditelnost-podskupiny-tags').val(),
          id_skupiny: inputs_nova_skupina['skupina-pre-podskupinu'].value,
          nazov_podskupiny: inputs_nova_skupina['nazov_podskupiny'].value,
          nova_podskupina: null
        };
        $.ajax({
          type: 'POST',
          url: '/api',
          data: JSON.stringify(dejta_nova_skupina),
            statusCode: {
                304: function() {
                  alert('Chyba: V Skupine už podskupina s týmto názvom už existuje');
                },
                303: function() {
                  alert('Chyba: Názov podskupiny nemôže byť prázdny');
                },
                201: function() {
                {% if get_data.keys|length > 0 %}
                    window.location = window.location.pathname+ '?openmodal_subgroupadd_sucess=1';
                {% else %}
                 window.location = window.location.href + '?openmodal_subgroupadd_sucess=1';
                 {% endif %}
                }
              },
          dataType: 'json',
          contentType : 'application/json'
        });">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Pridať podskupinu koniec-->
{% for key,value in get_data.items %}
    {% if key == 'openmodal_groupadd_sucess' and value == '1' %}
        <!-- Modal -->
        <div class="modal fade" id="skupina_vytvorena_Modal" tabindex="-1" role="dialog" aria-labelledby="skupina_vytvorena_ModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="skupina_vytvorena_ModalLabel">Správa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Skupina úspešne vytvorená
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
        $(window).on('load', function() {
            $('#skupina_vytvorena_Modal').modal('show');
        });
        </script>
    {% endif %}
        {% if key == 'openmodal_subgroupadd_sucess' and value == '1' %}
        <!-- Modal -->
        <div class="modal fade" id="podskupina_vytvorena_Modal" tabindex="-1" role="dialog" aria-labelledby="podskupina_vytvorena_ModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="podskupina_vytvorena_ModalLabel">Správa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Podskupina úspešne vytvorená
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
        $(window).on('load', function() {
            $('#podskupina_vytvorena_Modal').modal('show');
        });
        </script>
    {% endif %}
{% endfor %}

  </body>
</html>