<!DOCTYPE html>
<html>
  <head>
    <title>Administrácia</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
      {% load static %}<link rel="stylesheet" href="{% static 'administration/admin.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Boostrap -->
   <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <!-- Boostrap -->
    <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- (A) SIDEBAR -->
    <div id="pgside">
      <!-- (A1) BRANDING OR USER -->
      <!-- LINK TO DASHBOARD OR LOGOUT -->
      <div id="pguser">
        {% load static %}<img src="{% static 'administration/potato.png' %}">
        <i class="txt">Administrácia</i>
      </div>

      <!-- (A2) MENU ITEMS -->
      <a href="/administracia" class="current">
        <i class="ico">&#9733;</i>
        <i class="txt">Vrstvy</i>
      </a>
        {% if user.is_superuser %}
      <a href="/administracia/json">
        <i class="ico">&#9728;</i>
        <i class="txt">Nahrať / stiahnuť vrstvy</i>
      </a>
        {% endif %}
        <a href="/">
            <i class="ico">&#128506;</i>
            <i class="txt">Naspäť do mapy</i>
        </a>
    </div>
    {% if user.is_superuser %}
        {% for skupina,permska,permska_temp in sys_skupiny_list %}
    <!-- Viditelnost modal - skupina -->
<div id="viditelnost_skupina{{ skupina.id }}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ skupina.meno }}</h4>
      </div>
      <div class="modal-body">
          Globálne :
          <label for="viditelnost_skupinaR{{ skupina.id }}">Zobrazenie</label>
        <input type="checkbox" id="viditelnost_skupinaR{{ skupina.id }}" name="viditelnost_skupinaR{{ skupina.id }}" value="" {% if 'r' in skupina.viditelnost.globalne %}checked{% endif %}>
          <label for="viditelnost_skupinaW{{ skupina.id }}">Úprava</label>
        <input type="checkbox" id="viditelnost_skupinaW{{ skupina.id }}" name="viditelnost_skupinaW{{ skupina.id }}" value="" {% if 'w' in skupina.viditelnost.globalne %}checked{% endif %}>
          <br>
                Prihlásený :
          <label for="viditelnost_skupinaR_prihlaseny{{ skupina.id }}">Zobrazenie</label>
        <input type="checkbox" id="viditelnost_skupinaR_prihlaseny{{ skupina.id }}" name="viditelnost_skupinaR_prihlaseny{{ skupina.id }}" value="" {% if 'r' in skupina.viditelnost.prihlaseny %}checked{% endif %}>
          <label for="viditelnost_skupinaW_prihlaseny{{ skupina.id }}">Úprava</label>
        <input type="checkbox" id="viditelnost_skupinaW_prihlaseny{{ skupina.id }}" name="viditelnost_skupinaW_prihlaseny{{ skupina.id }}" value="" {% if 'w' in skupina.viditelnost.prihlaseny %}checked{% endif %}>

          <label for="viditelnost_skupinaIgnore_prihlaseny{{ skupina.id }}">Ignorovať</label>
        <input type="checkbox" id="viditelnost_skupinaIgnore_prihlaseny{{ skupina.id }}" name="viditelnost_skupinaIgnore_prihlaseny{{ skupina.id }}" value="" {% if skupina.viditelnost.prihlaseny == '' %}checked{% endif %}>
        <br>
        Užívatelia :
      <br>
      {% for uzivatel,permisie in skupina.viditelnost.uzivatelia.items %}
          {{ uzivatel }}:
          <label for="viditelnost_skupinaR_uzivatel_{{ skupina.id }}_u_{{ uzivatel }}">Zobrazenie</label>
        <input type="checkbox" id="viditelnost_skupinaR_uzivatel_{{ skupina.id }}_u_{{ uzivatel }}" name="viditelnost_skupinaR_uzivatel_{{ skupina.id }}_u_{{ uzivatel }}" value="" {% if 'r' in permisie %}checked{% endif %}>
          <label for="viditelnost_skupinaW_uzivatel_{{ skupina.id }}_u_{{ uzivatel }}">Úprava</label>
        <input type="checkbox" id="viditelnost_skupinaW_uzivatel_{{ skupina.id }}_u_{{ uzivatel }}" name="viditelnost_skupinaW_uzivatel_{{ skupina.id }}_u_{{ uzivatel }}" value="" {% if 'w' in permisie %}checked{% endif %}>
          <br>
          {% endfor %}
      <div id="div_uzivatelia_novy_skupina_{{ skupina.id }}">
      </div>
      <button type="button" onclick="f{{ skupina.id|cut:"-" }}pridaj_riadok_viditelnost_uzivatelia('div_uzivatelia_novy_skupina_{{ skupina.id }}')" class="btn btn-info btn-sm">+</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
          <button type="button" onclick="f{{ skupina.id|cut:"-" }}skupina_viditelnost_poslat()" class="btn btn-primary" data-dismiss="modal" >Uložiť</button>
      </div>
    </div>

  </div>
</div>
         <script>
         function f{{ skupina.id|cut:"-" }}skupina_viditelnost_poslat(){
                var global_read = document.querySelector('[id^="viditelnost_skupinaR{{ skupina.id }}"]');
                var global_write = document.querySelector('[id^="viditelnost_skupinaW{{ skupina.id }}"]');
                var prihlaseny_read = document.querySelector('[id^="viditelnost_skupinaR_prihlaseny{{ skupina.id }}"]');
                var prihlaseny_write = document.querySelector('[id^="viditelnost_skupinaW_prihlaseny{{ skupina.id }}"]');
                var prihlaseny_ignore = document.querySelector('[id^="viditelnost_skupinaIgnore_prihlaseny{{ skupina.id }}"]');

                var novy_uzivatelia_R = document.querySelectorAll('[id^="viditelnost_skupinaR_uzivatel_{{ skupina.id }}_u_N_"]');
                var novy_uzivatelia_W = document.querySelectorAll('[id^="viditelnost_skupinaW_uzivatel_{{ skupina.id }}_u_N_"]');

                var novy_uzivatelia_zoznam = [];

                novy_uzivatelia_R.forEach((input_R, index) => {

                    novy_uzivatelia_W.forEach((input_W, index) => {
                        if(input_W.value == input_R.value) {
                            var uzivatel = {username: input_W.value, read: input_R.checked,write: input_W.checked};
                            novy_uzivatelia_zoznam.push(uzivatel);
                        }

                    });
                });
                //console.log(novy_uzivatelia_zoznam)

                var uzivatelia_viditelnost = [];
                   {% for uzivatel,permisie in skupina.viditelnost.uzivatelia.items %}
                       var uzivatel = {
                        username: '{{ uzivatel }}',
                        read: document.querySelector('[id*="viditelnost_skupinaR_uzivatel_{{ skupina.id }}_u_{{ uzivatel }}"]').checked,
                           write: document.querySelector('[id*="viditelnost_skupinaW_uzivatel_{{ skupina.id }}_u_{{ uzivatel }}"]').checked

                       };
                        uzivatelia_viditelnost.push(uzivatel);
                        //console.log(uzivatel);

                    {% endfor %}


             let poziadavka = {
                  skupina_id: '{{ skupina.id }}',
                  global_read: global_read.checked,
                  global_write: global_write.checked,
                  prihlaseny_read: prihlaseny_read.checked,
                  prihlaseny_write: prihlaseny_write.checked,
                  prihlaseny_ignore: prihlaseny_ignore.checked,
                  uzivatelia: uzivatelia_viditelnost,
                  novy_uzivatelia: novy_uzivatelia_zoznam,

                  update_viditelnost_skupina: null
                };

                let response = fetch('/api', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                  },
                  body: JSON.stringify(poziadavka)
                });
                alert("Viditeľnosť úspešne zmenená");
         }





        function f{{ skupina.id|cut:"-" }}pridaj_lejbli_viditelnost(element){
            for(let i=1;i<=20;i++) { //dôvod: checkbox ostával aj po zmazaní :/
                element.parentNode.childNodes.forEach((child, index) => {
                    if (child.nodeType == 3) {
                        element.parentNode.removeChild(child);
                    }
                    if (child.nodeName == 'INPUT') {
                        //console.log("Im in")
                        element.parentNode.removeChild(child);
                    }
                    //console.log(child,child.type,child.nodeType)
                });
            }
            //Read
            element.parentNode.appendChild(document.createTextNode("Zobrazenie"))
            var x = document.createElement("INPUT");
            x.setAttribute("id", "viditelnost_skupinaR_uzivatel_{{ skupina.id }}_u_N_"+element.value);
            x.setAttribute("type", "checkbox");
            x.setAttribute("value", element.value);
            x.setAttribute("style", "margin: 3px;");
            element.parentNode.appendChild(x)
            //Write
            element.parentNode.appendChild(document.createTextNode("Úprava"))
            var j = document.createElement("INPUT");
            j.setAttribute("id", "viditelnost_skupinaW_uzivatel_{{ skupina.id }}_u_N_"+element.value);
            j.setAttribute("type", "checkbox");
            j.setAttribute("style", "margin: 3px;");
            j.setAttribute("value", element.value);
            element.parentNode.appendChild(j)
        }

         function f{{ skupina.id|cut:"-" }}pridaj_riadok_viditelnost_uzivatelia (id_divu) {

             var html = `<div class="row" style="margin: 3px;">
             <div>
          <select class="js-example-basic-single" name="state" style="width: auto;" onchange="f{{ skupina.id|cut:"-" }}pridaj_lejbli_viditelnost(this)">
                    <option disabled selected value> -- vyberte možnosť -- </option>
                    {% for user_username in vsetci_uzivatelia %}
                  <option style="margin: 3px;" value="{{ user_username.username }}">{{ user_username.username }}</option>
                    {% endfor %}
            </select>
        </div>
      <input style="margin: 3px;" type="button" value="-" onclick="odstran_riadok_viditelnost_uzivatelia(this)">
    </div>`;

  document.querySelector('#'+id_divu).insertAdjacentHTML(
    'beforeend',
    html
  )
         $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
}
function odstran_riadok_viditelnost_uzivatelia (input) {
  input.parentNode.remove()
}
         </script>

            {% for key,podskupiny in sys_podskupiny_dict.items %}
                {% if key == skupina.id %}
                    {% for podskupina,permska_podskupina in podskupiny %}

    <!-- Viditelnost modal - podskupina -->
<div id="viditelnost_podskupina{{ podskupina.id }}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ podskupina.meno }}</h4>
      </div>
      <div class="modal-body">
      Globálne :
          <label for="viditelnost_skupinaR{{ podskupina.id }}">Zobrazenie</label>
        <input type="checkbox" id="viditelnost_skupinaR{{ podskupina.id }}" name="viditelnost_skupinaR{{ podskupina.id }}" value="" {% if 'r' in podskupina.viditelnost.globalne %}checked{% endif %}>
          <label for="viditelnost_skupinaW{{ podskupina.id }}">Úprava</label>
        <input type="checkbox" id="viditelnost_skupinaW{{ podskupina.id }}" name="viditelnost_skupinaW{{ podskupina.id }}" value="" {% if 'w' in podskupina.viditelnost.globalne %}checked{% endif %}>
          <br>
                Prihlásený :
          <label for="viditelnost_skupinaR_prihlaseny{{ podskupina.id }}">Zobrazenie</label>
        <input type="checkbox" id="viditelnost_skupinaR_prihlaseny{{ podskupina.id }}" name="viditelnost_skupinaR_prihlaseny{{ podskupina.id }}" value="" {% if 'r' in podskupina.viditelnost.prihlaseny %}checked{% endif %}>
          <label for="viditelnost_skupinaW_prihlaseny{{ podskupina.id }}">Úprava</label>
        <input type="checkbox" id="viditelnost_skupinaW_prihlaseny{{ podskupina.id }}" name="viditelnost_skupinaW_prihlaseny{{ podskupina.id }}" value="" {% if 'w' in podskupina.viditelnost.prihlaseny %}checked{% endif %}>

          <label for="viditelnost_skupinaIgnore_prihlaseny{{ podskupina.id }}">Ignorovať</label>
        <input type="checkbox" id="viditelnost_skupinaIgnore_prihlaseny{{ podskupina.id }}" name="viditelnost_skupinaIgnore_prihlaseny{{ podskupina.id }}" value="" {% if podskupina.viditelnost.prihlaseny == '' %}checked{% endif %}>
        <br>
        Užívatelia :
      <br>
      {% for uzivatel,permisie in podskupina.viditelnost.uzivatelia.items %}
          {{ uzivatel }}:
          <label for="viditelnost_skupinaR_uzivatel_{{ podskupina.id }}_u_{{ uzivatel }}">Zobrazenie</label>
        <input type="checkbox" id="viditelnost_skupinaR_uzivatel_{{ podskupina.id }}_u_{{ uzivatel }}" name="viditelnost_skupinaR_uzivatel_{{ podskupina.id }}_u_{{ uzivatel }}" value="" {% if 'r' in permisie %}checked{% endif %}>
          <label for="viditelnost_skupinaW_uzivatel_{{ podskupina.id }}_u_{{ uzivatel }}">Úprava</label>
        <input type="checkbox" id="viditelnost_skupinaW_uzivatel_{{ podskupina.id }}_u_{{ uzivatel }}" name="viditelnost_skupinaW_uzivatel_{{ podskupina.id }}_u_{{ uzivatel }}" value="" {% if 'w' in permisie %}checked{% endif %}>
          <br>
          {% endfor %}
      <div id="div_uzivatelia_novy_skupina_{{ podskupina.id }}">
      </div>
      <button type="button" onclick="z{{ podskupina.id|cut:"-" }}pridaj_riadok_viditelnost_uzivatelia('div_uzivatelia_novy_skupina_{{ podskupina.id }}')" class="btn btn-info btn-sm">+</button>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
          <button type="button" onclick="z{{ podskupina.id|cut:"-" }}skupina_viditelnost_poslat()" class="btn btn-primary" data-dismiss="modal">Uložiť</button>
      </div>
    </div>

  </div>
</div>

                                 <script>
         function z{{ podskupina.id|cut:"-" }}skupina_viditelnost_poslat(){
                var global_read = document.querySelector('[id^="viditelnost_skupinaR{{ podskupina.id }}"]');
                var global_write = document.querySelector('[id^="viditelnost_skupinaW{{ podskupina.id }}"]');
                var prihlaseny_read = document.querySelector('[id^="viditelnost_skupinaR_prihlaseny{{ podskupina.id }}"]');
                var prihlaseny_write = document.querySelector('[id^="viditelnost_skupinaW_prihlaseny{{ podskupina.id }}"]');
                var prihlaseny_ignore = document.querySelector('[id^="viditelnost_skupinaIgnore_prihlaseny{{ podskupina.id }}"]');

                var novy_uzivatelia_R = document.querySelectorAll('[id^="viditelnost_skupinaR_uzivatel_{{ podskupina.id }}_u_N_"]');
                var novy_uzivatelia_W = document.querySelectorAll('[id^="viditelnost_skupinaW_uzivatel_{{ podskupina.id }}_u_N_"]');

                var novy_uzivatelia_zoznam = [];

                novy_uzivatelia_R.forEach((input_R, index) => {

                    novy_uzivatelia_W.forEach((input_W, index) => {
                        if(input_W.value == input_R.value) {
                            var uzivatel = {username: input_W.value, read: input_R.checked,write: input_W.checked};
                            novy_uzivatelia_zoznam.push(uzivatel);
                        }

                    });
                });
                //console.log(novy_uzivatelia_zoznam)

                var uzivatelia_viditelnost = [];
                   {% for uzivatel,permisie in podskupina.viditelnost.uzivatelia.items %}
                       var uzivatel = {
                        username: '{{ uzivatel }}',
                        read: document.querySelector('[id*="viditelnost_skupinaR_uzivatel_{{ podskupina.id }}_u_{{ uzivatel }}"]').checked,
                           write: document.querySelector('[id*="viditelnost_skupinaW_uzivatel_{{ podskupina.id }}_u_{{ uzivatel }}"]').checked

                       };
                        uzivatelia_viditelnost.push(uzivatel);
                        //console.log(uzivatel);

                    {% endfor %}


             let poziadavka = {
                  skupina_id: '{{ podskupina.id }}',
                  global_read: global_read.checked,
                  global_write: global_write.checked,
                  prihlaseny_read: prihlaseny_read.checked,
                  prihlaseny_write: prihlaseny_write.checked,
                  prihlaseny_ignore: prihlaseny_ignore.checked,
                  uzivatelia: uzivatelia_viditelnost,
                  novy_uzivatelia: novy_uzivatelia_zoznam,
                  update_viditelnost_podskupina: true,
                  update_viditelnost_skupina: null
                };

                let response = fetch('/api', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                  },
                  body: JSON.stringify(poziadavka)
                });
                alert("Viditeľnosť úspešne zmenená")
         }





        function z{{ podskupina.id|cut:"-" }}pridaj_lejbli_viditelnost(element){
            for(let i=1;i<=20;i++) { //dôvod: checkbox ostával aj po zmazaní :/
                element.parentNode.childNodes.forEach((child, index) => {
                    if (child.nodeType == 3) {
                        element.parentNode.removeChild(child);
                    }
                    if (child.nodeName == 'INPUT') {
                        //console.log("Im in")
                        element.parentNode.removeChild(child);
                    }
                    //console.log(child,child.type,child.nodeType)
                });
            }
            //Read
            element.parentNode.appendChild(document.createTextNode("Zobrazenie"))
            var x = document.createElement("INPUT");
            x.setAttribute("id", "viditelnost_skupinaR_uzivatel_{{ podskupina.id }}_u_N_"+element.value);
            x.setAttribute("type", "checkbox");
            x.setAttribute("value", element.value);
            x.setAttribute("style", "margin: 3px;");
            element.parentNode.appendChild(x)
            //Write
            element.parentNode.appendChild(document.createTextNode("Úprava"))
            var j = document.createElement("INPUT");
            j.setAttribute("id", "viditelnost_skupinaW_uzivatel_{{ podskupina.id }}_u_N_"+element.value);
            j.setAttribute("type", "checkbox");
            j.setAttribute("style", "margin: 3px;");
            j.setAttribute("value", element.value);
            element.parentNode.appendChild(j)
        }

         function z{{ podskupina.id|cut:"-" }}pridaj_riadok_viditelnost_uzivatelia (id_divu) {

             var html = `<div class="row" style="margin: 3px;">
             <div>
          <select class="js-example-basic-single" name="state" style="width: auto;" onchange="z{{ podskupina.id|cut:"-" }}pridaj_lejbli_viditelnost(this)">
                    <option disabled selected value> -- vyberte možnosť -- </option>
                    {% for user_username in vsetci_uzivatelia %}
                  <option style="margin: 3px;" value="{{ user_username.username }}">{{ user_username.username }}</option>
                    {% endfor %}
            </select>
        </div>
      <input style="margin: 3px;" type="button" value="-" onclick="odstran_riadok_viditelnost_uzivatelia(this)">
    </div>`;

  document.querySelector('#'+id_divu).insertAdjacentHTML(
    'beforeend',
    html
  )
         $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
}

         </script>

                    {% endfor %}
                {% endif %}
            {% endfor %}



        {% endfor %}
    {% endif %}
    <!-- (B) MAIN -->
    <main id="pgmain">
      <ul id="simpleList" class="list-group">
          {% for skupina,permska,permska_temp in sys_skupiny_list %}
              {% if permska or permska_temp or user.is_superuser %}
              <li id="{{ skupina.id }}" class="list-group-item">{{ skupina.meno }}
              {% if permska %}
                  <button class = "btn btn-outline-info btn-sm" onclick="daj_mapu('{{ skupina.id }}',true)">Upraviť</button>
              {% endif %}
              {% if user.is_superuser %}
              <button class = "btn btn-outline-info btn-sm" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#viditelnost_skupina{{ skupina.id }}">Oprávnania</button>
              {% endif %}
                 <dl id="simpleList{{ forloop.counter }}" class="list-group">
                     {% for key,podskupiny in sys_podskupiny_dict.items %}
                         {% if key == skupina.id %}
                             {% for podskupina,permska_podskupina in podskupiny %}
                                 {% if permska_podskupina or user.is_superuser %}
                                <dt id="{{ podskupina.id }}" class="list-group-item">{{ podskupina.meno }}
                                    <button class = "btn btn-outline-info btn-sm" onclick="daj_mapu('{{ podskupina.id }}',false)">Upraviť</button>
                                    {% if user.is_superuser %}
                                    <button class = "btn btn-outline-info btn-sm" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#viditelnost_podskupina{{ podskupina.id }}">Oprávnenia</button>
                                    {% endif %}
                                </dt>
                                 {% endif %}
                             {% endfor %}
                         {% endif %}
                     {% endfor %}
                </dl>
      <script>
         Sortable.create(simpleList{{ forloop.counter }}, { /* options */ });
      </script>
              </li>
            {% endif %}
          {% endfor %}
      </ul>

        <script>
            // Simple list
            Sortable.create(simpleList, { /* options */ });

            async function skupina_priorita_update(id,index) {
                  let user = {
                  id: id,
                  priorita: index,
                  skupina: null
                };

                let response = await fetch('/api', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                  },
                  body: JSON.stringify(user)
                });

           return true;
        }

            async function podskupina_priorita_update(id,index) {
                  let user = {
                  id: id,
                  priorita: index,
                  podskupina: null
                };

                let response = await fetch('/api', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                  },
                  body: JSON.stringify(user)
                });

           return true;
        }

            function admin_skupiny_poradie_funkcia() {

                    let navbar = document
                      .getElementById('simpleList')
                      .querySelectorAll('li');

                    navbar.forEach((item, index) => {
                        skupina_priorita_update(item.id,index)
                    });

                return null;
            }

            function admin_podskupiny_poradie_funkcia() {
                let navbar = null;
                {% for skupina,permska,permska_temp in sys_skupiny_list %}
                    navbar = document
                      .getElementById('simpleList{{ forloop.counter }}')
                      .querySelectorAll('dt');

                    navbar.forEach((item, index) => {
                        podskupina_priorita_update(item.id,index)
                    });
                {% endfor %}
                return null;
            }
            function admin_skupiny_podskupiny_poradie_funkcia_tlacidlo(){
               admin_skupiny_poradie_funkcia();
               admin_podskupiny_poradie_funkcia();
               alert("Poradie úspešne zmenené");
            }
        function map_preview_update(html){
                let wrapper = document.getElementById('mapa-preview');
                wrapper.innerHTML= html;
        }
        async function daj_mapu(id,skupina){
                map_preview_update('Načítavanie');
            let user = {
                  id: id,
                  skupina: skupina,
                  daj_mapu: null
                };

                let response = await fetch('/api', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                  },
                  body: JSON.stringify(user)
                });
                response.text().then(function (text) {
                  map_preview_update(text);
                  document.getElementById('mapa-preview').scrollIntoView({
                          behavior: "smooth",
                        });
                });

        }

        </script>

                  {% if user.is_superuser %}


    <button class = "btn btn-primary btn-sm" onclick="admin_skupiny_podskupiny_poradie_funkcia_tlacidlo()">Aktualizovať poradie</button>
    <button class = "btn btn-primary btn-sm" data-toggle="modal" data-target="#pridat_skupinuModal">Pridať skupinu</button>
    {% if sys_skupiny_list|length > 0 %}
    <button class = "btn btn-primary btn-sm" data-toggle="modal" data-target="#pridat_podskupinuModal">Pridať podskupinu</button>
    {% endif %}
    <br>
{% endif %}

                      <div id="mapa-preview"></div>



    </main>
<!-- Pridať skupinu -->
<div class="modal fade" id="pridat_skupinuModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="pridat_skupinuModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pridat_skupinuModalLabel">Pridať skupinu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="pridaj_skupinuform" method="post" action="api">
          <label for="nazov_skupiny">Názov skupiny:</label>
          <input type="text" id="nazov_skupiny" name="nazov_skupiny" required /><br>
      Oprávnenia globálne :
          <label for="viditelnost_skupinaR_nova">Zobrazenie</label>
        <input type="checkbox" id="viditelnost_skupinaR_nova" name="viditelnost_skupinaR_nova" value="" >
          <label for="viditelnost_skupinaW_nova">Úprava</label>
        <input type="checkbox" id="viditelnost_skupinaW_nova" name="viditelnost_skupinaW_nova" value="" >
          <br>
                Oprávnenia prihlásený :
          <label for="viditelnost_skupinaR_nova_prihlaseny">Zobrazenie</label>
        <input type="checkbox" id="viditelnost_skupinaR_nova_prihlaseny" name="viditelnost_skupinaR_nova_prihlaseny" value="">
          <label for="viditelnost_skupinaW_nova_prihlaseny">Úprava</label>
        <input type="checkbox" id="viditelnost_skupinaW_nova_prihlaseny" name="viditelnost_skupinaW_nova_prihlaseny" value="">

          <label for="viditelnost_skupinaIgnore_nova_prihlaseny">Ignorovať</label>
        <input type="checkbox" id="viditelnost_skupinaIgnore_nova_prihlaseny" name="viditelnost_skupinaIgnore_prihlaseny" value="" >
        <br>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="
        let inputs_nova_skupina = document.getElementById('pridaj_skupinuform').elements;
            let dejta_nova_skupina = {
          global_r: document.getElementById('viditelnost_skupinaR_nova').checked,
          global_w: document.getElementById('viditelnost_skupinaW_nova').checked,
          skupina_r: document.getElementById('viditelnost_skupinaR_nova_prihlaseny').checked,
          skupina_w: document.getElementById('viditelnost_skupinaW_nova_prihlaseny').checked,
          skupina_ignore: document.getElementById('viditelnost_skupinaIgnore_nova_prihlaseny').checked,
          nazov_skupiny: inputs_nova_skupina['nazov_skupiny'].value,
          nova_skupina: null
        };
        $.ajax({
          type: 'POST',
          url: '/api',
          data: JSON.stringify(dejta_nova_skupina),
            statusCode: {
                304: function() {
                  alert('Chyba: Skupina s týmto názvom už existuje');
                },
                303: function() {
                  alert('Chyba: Názov skupiny nemôže byť prázdny');
                },
                201: function() {
                {% if get_data.keys|length > 0 %}
                    window.location = window.location.pathname+ '?openmodal_groupadd_sucess=1';
                {% else %}
                 window.location = window.location.href + '?openmodal_groupadd_sucess=1';
                 {% endif %}
                }
              },
          dataType: 'json',
          contentType : 'application/json'
        });">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Pridať skupinu koniec-->
    <!-- Pridať podskupinu -->
<div class="modal fade" id="pridat_podskupinuModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="pridat_podskupinuModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pridat_podskupinuModalLabel">Pridať podskupinu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="pridaj_podskupinuform" method="post" action="api">
            <label for="skupina-pre-podskupinu">Vyber skupinu:</label>
            <select id="skupina-pre-podskupinu" name="skupina-pre-podskupinu">
                {% for skupina,permska,permska_temp in sys_skupiny_list %}
              <option value="{{ skupina.id }}" >{{ skupina.meno }}</option>
                {% endfor %}
            </select><br>
          <label for="nazov_podskupiny">Názov podskupiny:</label>
          <input type="text" id="nazov_podskupiny" name="nazov_podskupiny" required /><br>
              Viditeľnosť globálne :
          <label for="viditelnost_podskupinaR_nova">R</label>
        <input type="checkbox" id="viditelnost_podskupinaR_nova" name="viditelnost_podskupinaR_nova" value="" >
          <label for="viditelnost_podskupinaW_nova">W</label>
        <input type="checkbox" id="viditelnost_podskupinaW_nova" name="viditelnost_podskupinaW_nova" value="" >
          <br>
                Viditeľnosť prihlásený :
          <label for="viditelnost_podskupinaR_nova_prihlaseny">R</label>
        <input type="checkbox" id="viditelnost_podskupinaR_nova_prihlaseny" name="viditelnost_podskupinaR_nova_prihlaseny" value="">
          <label for="viditelnost_podskupinaW_nova_prihlaseny">W</label>
        <input type="checkbox" id="viditelnost_podskupinaW_nova_prihlaseny" name="viditelnost_podskupinaW_nova_prihlaseny" value="">

          <label for="viditelnost_podskupinaIgnore_nova_prihlaseny">Ignorovať</label>
        <input type="checkbox" id="viditelnost_podskupinaIgnore_nova_prihlaseny" name="viditelnost_podskupinaIgnore_prihlaseny" value="" >
        <br>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="
        let inputs_nova_skupina = document.getElementById('pridaj_podskupinuform').elements;
            let dejta_nova_skupina = {
                global_r: document.getElementById('viditelnost_podskupinaR_nova').checked,
          global_w: document.getElementById('viditelnost_podskupinaW_nova').checked,
          podskupina_r: document.getElementById('viditelnost_podskupinaR_nova_prihlaseny').checked,
          podskupina_w: document.getElementById('viditelnost_podskupinaW_nova_prihlaseny').checked,
          podskupina_ignore: document.getElementById('viditelnost_podskupinaIgnore_nova_prihlaseny').checked,
          id_skupiny: inputs_nova_skupina['skupina-pre-podskupinu'].value,
          nazov_podskupiny: inputs_nova_skupina['nazov_podskupiny'].value,
          nova_podskupina: null
        };
        $.ajax({
          type: 'POST',
          url: '/api',
          data: JSON.stringify(dejta_nova_skupina),
            statusCode: {
                304: function() {
                  alert('Chyba: V Skupine už podskupina s týmto názvom už existuje');
                },
                303: function() {
                  alert('Chyba: Názov podskupiny nemôže byť prázdny');
                },
                201: function() {
                {% if get_data.keys|length > 0 %}
                    window.location = window.location.pathname+ '?openmodal_subgroupadd_sucess=1';
                {% else %}
                 window.location = window.location.href + '?openmodal_subgroupadd_sucess=1';
                 {% endif %}
                }
              },
          dataType: 'json',
          contentType : 'application/json'
        });">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Pridať podskupinu koniec-->
{% for key,value in get_data.items %}
    {% if key == 'openmodal_groupadd_sucess' and value == '1' %}
        <!-- Modal -->
        <div class="modal fade" id="skupina_vytvorena_Modal" tabindex="-1" role="dialog" aria-labelledby="skupina_vytvorena_ModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="skupina_vytvorena_ModalLabel">Správa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Skupina úspešne vytvorená
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
        $(window).on('load', function() {
            $('#skupina_vytvorena_Modal').modal('show');
        });
        </script>
    {% endif %}
        {% if key == 'openmodal_subgroupadd_sucess' and value == '1' %}
        <!-- Modal -->
        <div class="modal fade" id="podskupina_vytvorena_Modal" tabindex="-1" role="dialog" aria-labelledby="podskupina_vytvorena_ModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="podskupina_vytvorena_ModalLabel">Správa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Podskupina úspešne vytvorená
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
        $(window).on('load', function() {
            $('#podskupina_vytvorena_Modal').modal('show');
        });
        </script>
    {% endif %}
{% endfor %}

  </body>
</html>