<!doctype html>
{% load friendshiptags %}
{% load unicorn %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
          {% unicorn_scripts %}
      <!-- navbar závislosti -->
          {% load static %}<link rel="stylesheet" href="{% static 'navbar/style.css' %}" >
      <!-- navbar závislosti koniec-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        <!-- Summernote-->
      <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
      <!-- Summernote koniec-->
            {% load static %}<link rel="stylesheet" href="{% static 'forum/upvotejs.css' %}" >
      {% load static %}<script src="{% static 'forum/upvotejs.vanilla.js' %}"></script>
      {% load static %}<script src="{% static 'index/progressbar.js' %}"></script>
    <title>Skupiny</title>
  </head>
  <body>
{% include "navbar.html" with navbar_administracia=navbar_administracia %}

<div class="modal draggable" id="object_htmlModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">...</div>
            <div class="modal-body"><div id="summernote"></div></div>
            <div class="modal-footer">

            <button type="button" onclick="summer_note_ulozit()">Uložiť</button>
            <button type="button" onclick="summer_note_destroyer();">Zrušiť</button>

            </div>
        </div>
    </div>
</div>


<br>
<div class="container gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="h5">{{ skupina.meno }}</div>
                        <div class="h7 text-muted">Správca : <a href="profil?u={{ skupina.spravca }}">{{ skupina.spravca }}</a></div>
                        <div class="h7"> {{ popis }} </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">Počet členov</div>
                            <div class="h5">{{ pocet_clenov }}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 gedf-main">

                <!--- \\\\\\\Príspevok-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">
                                    Príspevok</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images" onclick="daj_mapu_celu_skupina()">Mapa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="clenovia-tab" data-toggle="tab" role="tab" aria-controls="clenovia" aria-selected="false" href="#clenovia">Členovia</a>
                            </li>
                            {% if skupina.spravca == user.username %}
                                <li class="nav-item">
                                <a class="nav-link" id="nastavenia-tab" data-toggle="tab" role="tab" aria-controls="nastavenia" aria-selected="false" href="#nastavenia">Nastavenia</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label class="sr-only" for="message-sprava">post</label>
                                    <textarea class="form-control" id="message-sprava" rows="3" placeholder="Čo máte na mysli ?"></textarea>
                                </div>
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary" onclick="
                                            let dejta_nova_skupina = {
                                          sprava_skupina_diskusia: $('#message-sprava').summernote('code'),
                                          skupina_diskusia_id: '{{ skupina.diskusia.id }}',
                                        };
                                        $.ajax({
                                          type: 'POST',
                                          url: '/api',
                                          data: JSON.stringify(dejta_nova_skupina),
                                            statusCode: {
                                                303: function() {
                                                  alert('Chyba: Príspevok nemôže byť prázdny');
                                                },
                                                201: function() {
                                                    alert('Príspevok úspešne uverejnený');
                                                    location.reload();
                                                }
                                              },
                                          dataType: 'json',
                                          contentType : 'application/json'
                                        });">Odoslať</button>
                                </div>
                            </div>




                            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                                    <div id="map">
                                                        <div id="loading-bar-div" style="position: absolute; top: 50%; text-align: center; width: 100%;"></div>
                                                    </div>
                                <div class="py-4"></div>
                            </div>

                            <div class="tab-pane fade" id="clenovia" role="tabpanel" aria-labelledby="clenovia-tab">


						<table class="table table-striped" style="width:100%">
							<thead>
								<tr>
									<th></th>
									<th>Meno</th>
									<th>Status</th>
                                    {% if user.username == skupina.spravca %}
                                     <th>Moderovanie</th>
                                    {% endif %}
								</tr>
							</thead>
							<tbody>
                            {% for uzivatelko,profilcoc,zapistok in clenovia_diskusie %}
								<tr>
									<td><img src="data:image/png;base64,{{ profilcoc.icon }}" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
									<td><a href="profil?u={{ uzivatelko.username }}">{{ uzivatelko.username }}</a></td>
                                        {% if uzivatelko.username == skupina.spravca %}
                                        	<td><span class="badge bg-danger">Administrátor</span></td>
                                        {% elif zapistok %}
                                            <td><span class="badge bg-warning" >Moderátor</span></td>
                                        {% else %}
                                            <td><span class="badge bg-info">Užívateľ</span></td>
                                        {% endif %}

                                {% if user.username == skupina.spravca %}
                                        {% if uzivatelko.username == skupina.spravca %}
                                        	<td></td>
                                        {% elif zapistok %}
                                            <td><button class="btn btn-danger btn-sm" onclick="
                                            let dejta_nova_skupina = {
                                          nestastnik: '{{ uzivatelko.username }}',
                                          odobratie_moderovania_skupina_id: '{{ skupina.id }}',
                                        };
                                        $.ajax({
                                          type: 'POST',
                                          url: '/api',
                                          data: JSON.stringify(dejta_nova_skupina),
                                            statusCode: {
                                                201: function() {
                                                    alert('Moderovanie úspešne odobraté');
                                                    location.reload();
                                                }
                                              },
                                          dataType: 'json',
                                          contentType : 'application/json'
                                        });">Odobrať</button></td>
                                        {% else %}
                                            <td><button class="btn btn-success btn-sm" onclick="
                                            let dejta_nova_skupina = {
                                          nestastnik: '{{ uzivatelko.username }}',
                                          umoznenie_moderovania_skupina_id: '{{ skupina.id }}',
                                        };
                                        $.ajax({
                                          type: 'POST',
                                          url: '/api',
                                          data: JSON.stringify(dejta_nova_skupina),
                                            statusCode: {
                                                201: function() {
                                                    alert('Moderovanie úspešne udelené');
                                                    location.reload();
                                                }
                                              },
                                          dataType: 'json',
                                          contentType : 'application/json'
                                        });">Umožniť</button></td>
                                        {% endif %}
                                {% endif %}
								</tr>
                            {% endfor %}
							</tbody>
						</table>
                            {% if user.username == skupina.spravca %}
                                <button style="width: 100%" class="btn btn-info" data-toggle="modal" data-target="#staticBackdropPridatPriatela"
                                > Pridať priateľa</button>
                            {% else %}
                                <button style="width: 100%" class="btn btn-danger" onclick="
                                            let dejta_nova_skupina = {
                                          opustatel_skupiny: '{{ user.id }}',
                                          verejna_diskusia_skupina_id: '{{ skupina.id }}',
                                        };
                                        $.ajax({
                                          type: 'POST',
                                          url: '/api',
                                          data: JSON.stringify(dejta_nova_skupina),
                                            statusCode: {
                                                201: function() {
                                                    alert('Skupina úspešne opustená');
                                                    document.location.href='/skupiny';
                                                }
                                              },
                                          dataType: 'json',
                                          contentType : 'application/json'
                                        });">Opustiť skupinu</button>
                            {% endif %}

                                <div class="py-4"></div>
                            </div>

                            <div class="tab-pane fade" id="nastavenia" role="tabpanel" aria-labelledby="nastavenia-tab">

                                <div class="card mb-4">
                                                <div class="card-body">
                                                <ul class="list-group list-group-flush mx-n2">
                                                <li class="list-group-item px-0 d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                <h6 class="mb-0">Verejne dostupná</h6>
                                                <small>Ktokoľvek môže skupinu vyhľadať a prezerať.</small>
                                                </div>
                                                <div class="form-check form-switch">
                                                <input class="form-check-input" id="nova-verejne-dostupna"
                                                       role="switch" type="checkbox" {% if skupina.diskusia.verejna %}checked{% endif %}
                                                       onchange="
                                            let dejta_nova_skupina = {
                                          verejna: this.checked,
                                          verejna_diskusia_zmenit_stav_skupina_id: '{{ skupina.id }}',
                                        };
                                        $.ajax({
                                          type: 'POST',
                                          url: '/api',
                                          data: JSON.stringify(dejta_nova_skupina),
                                            statusCode: {
                                                201: function() {
                                                    alert('Zmena úspešne uložená');
                                                    //location.reload();
                                                }
                                              },
                                          dataType: 'json',
                                          contentType : 'application/json'
                                        });">
                                                </div>
                                                </li>
                                                <li class="list-group-item px-0 d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                <h6 class="mb-0">Pre každého</h6>
                                                <small>Ktokoľvek sa môže do skupiny pridať.</small>
                                                </div>
                                                <div class="form-check form-switch">
                                                <input class="form-check-input" id="nova-ktokolvek-pridat" role="switch" type="checkbox"
                                                       {% if skupina.diskusia.pre_kazdeho %}checked{% endif %} onchange="
                                            let dejta_nova_skupina = {
                                          pre_kazdeho: this.checked,
                                          pre_kazdeho_diskusia_zmenit_stav_skupina_id: '{{ skupina.id }}',
                                        };
                                        $.ajax({
                                          type: 'POST',
                                          url: '/api',
                                          data: JSON.stringify(dejta_nova_skupina),
                                            statusCode: {
                                                201: function() {
                                                    alert('Zmena úspešne uložená');
                                                    //location.reload();
                                                }
                                              },
                                          dataType: 'json',
                                          contentType : 'application/json'
                                        });">
                                                </div>
                                                </li>
                                                </ul>
                                                </div>
                                                </div>
                                <button class="btn btn-danger" style="width: 100%" onclick="
                                            let dejta_nova_skupina = {
                                          zmaz_skupinu_skupina_id_z_diskusie: '{{ skupina.id }}',
                                        };
                                        $.ajax({
                                          type: 'POST',
                                          url: '/api',
                                          data: JSON.stringify(dejta_nova_skupina),
                                            statusCode: {
                                                201: function() {
                                                    alert('Skupina úspešne zmazaná');
                                                    document.location.href='/skupiny';
                                                }
                                              },
                                          dataType: 'json',
                                          contentType : 'application/json'
                                        });">Zmazať skupinu</button>

                                <div class="py-4"></div>
                            </div>
                        </div>
                        <div class="btn-toolbar justify-content-between">


                        </div>
                    </div>
                </div>
                <!-- Príspevok /////-->
                        <br>
               {% unicorn 'skupina-diskusia-prispevky' diskusia_id=skupina.diskusia.id %}

            </div>


        </div>
    </div>

<script>
$(document).ready(function() {
  $('#message-sprava').summernote({
      placeholder: 'Čo máte na mysli ?',                 // set editor height
    });
});
function uprava_html(){
    $('#object_htmlModal').modal({
        keyboard: false,
        backdrop: false
    });
    $('#object_htmlModal').modal('show');
          $(document).ready(function() {
  $('#summernote').summernote({
  toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']]
  ]
});
  if(posledne_html_z_editora!="") {
      $('#summernote').summernote('code', posledne_html_z_editora);
  }

});

    return true;
}

$('.modal.draggable>.modal-dialog').draggable({
    cursor: 'move',
    handle: '.modal-header'
});
$('.modal.draggable>.modal-dialog>.modal-content>.modal-header').css('cursor', 'move');


var daj_mapu_posledna_id = "";
var daj_mapu_posledna_skupina_bool = false;
var posledne_html_z_editora = "";

  function summer_note_destroyer(){
      $(document).ready(function() {
          $('#summernote').summernote('destroy');
          document.getElementById('summernote').innerHTML= '';
          $('#object_htmlModal').modal('hide');

      });

      return true;
  }

    function summer_note_ulozit(){
      $(document).ready(function() {
         posledne_html_z_editora =  $('#summernote').summernote('code');
         //console.log(posledne_html_z_editora);
          $('#summernote').summernote('destroy');
          document.getElementById('summernote').innerHTML= '';
          $('#object_htmlModal').modal('hide');

      });

      return true;
  }
function map_preview_update(html){
        let wrapper = document.getElementById('map');
        wrapper.innerHTML= html;
}
async function daj_mapu_celu_skupina(){
    let bar = new ProgressBar.Line('#loading-bar-div', {
  strokeWidth: 3,
  easing: 'easeInOut',
  duration: 1000,
  color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  svgStyle: {width: '45%', height: '1.5em'},
  text: {
        style: {
            // Text color.
            // Default: same as stroke color (options.color)
            color: '#f00',
            position: 'absolute',
            left: '50%',
            top: '50%',
            padding: 0,
            margin: 0,
            // You can specify styles which will be browser prefixed
            transform: {
                prefix: true,
                value: 'translate(-50%, -50%)'
            }
        },
    autoStyleContainer: false
  },
  from: {color: '#FFEA82'},
  to: {color: '#ED6A5A'},
  step: (state, bar) => {
    bar.setText(Math.round(bar.value() * 100) + ' %');
  }
});

bar.animate(1.0);
    let user = {
          daj_mapu_skupina: null,
          skupina_id: '{{ skupina.id }}',
        };

    let response = await fetch('/api', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;charset=utf-8',"X-CSRFToken": '{{csrf_token}}'
      },
      body: JSON.stringify(user),
      credentials: 'same-origin',
    });
    response.text().then(function (text) {
      map_preview_update(text);
    });

}
</script>

<!-- Modal pridat priatela -->
<div class="modal fade" id="staticBackdropPridatPriatela" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Pridať priateľa do skupiny</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if zoznam_priatelov %}
            <table class="table">
  <thead>
    <tr>
      <th scope="col">Meno</th>
      <th scope="col">Akcia</th>
    </tr>
  </thead>
  <tbody>
    {% for priatel,profi in zoznam_priatelov %}
    <tr>
      <td>{{ priatel.username }}</td>
      <td><i class="fa-solid fa-plus" onclick="
                                            let dejta_nova_skupina = {
                                          priatel_username: '{{ priatel.username }}',
                                          pridaj_priatela_skupina_id_z_diskusie: '{{ skupina.id }}',
                                        };
                                        $.ajax({
                                          type: 'POST',
                                          url: '/api',
                                          data: JSON.stringify(dejta_nova_skupina),
                                            statusCode: {
                                                201: function() {
                                                    alert('Priateľ úspešne pridaný');
                                                    location.reload();
                                                }
                                              },
                                          dataType: 'json',
                                          contentType : 'application/json'
                                        });"></i></td>
    </tr>
       {% endfor %}
  </tbody>
</table>
         {% else %}
            <h5>Nemáte žiadnych priateľov, ktorých by ste mohli pridať do skupiny</h5>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Zatvoriť</button>
      </div>
    </div>
  </div>
</div>


  </body>
</html>