<!doctype html>
{% load friendshiptags %}
{% load unicorn %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
          {% unicorn_scripts %}
      <!-- navbar závislosti -->
          {% load static %}<link rel="stylesheet" href="{% static 'navbar/style.css' %}" >
      <!-- navbar závislosti koniec-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        <!-- Summernote-->
      <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
      <!-- Summernote koniec-->
    <title>Skupiny</title>
  </head>
  <body>
{% include "navbar.html" with navbar_administracia=navbar_administracia %}
<br>
<div class="container gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="h5">{{ skupina.meno }}</div>
                        <div class="h7 text-muted">Správca : <a href="profil?u={{ skupina.spravca }}">{{ skupina.spravca }}</a></div>
                        <div class="h7"> {{ popis }} </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">Počet členov</div>
                            <div class="h5">{{ pocet_clenov }}</div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">Počet vrstiev</div>
                            <div class="h5">{{ pocet_vrstiev }}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 gedf-main">

                <!--- \\\\\\\Príspevok-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">
                                    Príspevok</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Mapa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="clenovia-tab" data-toggle="tab" role="tab" aria-controls="clenovia" aria-selected="false" href="#clenovia">Členovia</a>
                            </li>
                            {% if skupina.spravca == user.username %}
                                <li class="nav-item">
                                <a class="nav-link" id="nastavenia-tab" data-toggle="tab" role="tab" aria-controls="nastavenia" aria-selected="false" href="#nastavenia">Nastavenia</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label class="sr-only" for="message-sprava">post</label>
                                    <textarea class="form-control" id="message-sprava" rows="3" placeholder="Čo máte na mysli ?"></textarea>
                                </div>
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary" onclick="
                                            let dejta_nova_skupina = {
                                          sprava_skupina_diskusia: $('#message-sprava').summernote('code'),
                                          skupina_diskusia_id: '{{ skupina.diskusia.id }}',
                                        };
                                        $.ajax({
                                          type: 'POST',
                                          url: '/api',
                                          data: JSON.stringify(dejta_nova_skupina),
                                            statusCode: {
                                                303: function() {
                                                  alert('Chyba: Príspevok nemôže byť prázdny');
                                                },
                                                201: function() {
                                                    alert('Príspevok úspešne uverejnený');
                                                    location.reload();
                                                }
                                              },
                                          dataType: 'json',
                                          contentType : 'application/json'
                                        });">Odoslať</button>
                                </div>
                            </div>




                            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Sem pôjde mapa / toto sa zmaže</label>
                                    </div>
                                </div>
                                <div class="py-4"></div>
                            </div>

                            <div class="tab-pane fade" id="clenovia" role="tabpanel" aria-labelledby="clenovia-tab">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Sem pôjde mapa / toto sa zmaže</label>
                                    </div>
                                </div>
                                <div class="py-4"></div>
                            </div>

                            <div class="tab-pane fade" id="nastavenia" role="tabpanel" aria-labelledby="nastavenia-tab">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Sem pôjde mapa / toto sa zmaže</label>
                                    </div>
                                </div>
                                <div class="py-4"></div>
                            </div>
                        </div>
                        <div class="btn-toolbar justify-content-between">


                        </div>
                    </div>
                </div>
                <!-- Príspevok /////-->
                        <br>
               {% unicorn 'skupina-diskusia-prispevky' diskusia_id=skupina.diskusia.id %}

            </div>


        </div>
    </div>

<script>
$(document).ready(function() {
  $('#message-sprava').summernote({
      placeholder: 'Čo máte na mysli ?',                 // set editor height
    });
});
</script>

  </body>
</html>